<nav class="navbar navbar-expand-lg navbar-light bg-light shadow-sm fixed-top">
<div class="container-fluid">

<a class="navbar-brand fw-bold fs-4 ms-3"
routerLink="/">
☕ Brew & Bite
</a>

<button
class="navbar-toggler border-0"
type="button"
(click)="toggleMenu()">
<span class="navbar-toggler-icon">
</span>
</button>

<div
class="navbar-collapse"
[class.show]="isMenuOpen">

<div class="d-lg-none text-end px-3 pt-2">
<button
class="btn-close"
(click)="closeMenu()">
</button>
</div>


<ng-container
*ngIf="auth.user$ | async as user; else guest">

<div class="navbar-nav mx-auto text-center">

<a class="nav-link"
routerLink="/home"
(click)="closeMenu()">
🏠 Home
</a>

<a class="nav-link"
routerLink="/recipe-list"
(click)="closeMenu()">
🍽️ Menu
</a>

<a class="nav-link"
routerLink="/setup"
(click)="closeMenu()">
🔧 Setup
</a>

<a
*ngIf="user?.role==='admin'"
class="nav-link"
routerLink="/admin"
(click)="closeMenu()">
👑 Admin
</a>

</div>


<div class="ms-auto d-flex align-items-center gap-3">
<span>
👤 {{user.name}}
</span>

<button
class="btn btn-danger btn-sm"
(click)="logout()">
Logout
</button>
</div>

</ng-container>



<ng-template #guest>

<div class="navbar-nav mx-auto text-center">

<a class="nav-link"
routerLink="/home">
🏠 Home
</a>

<a class="nav-link"
routerLink="/recipe-list">
🍽️ Menu
</a>

<a class="nav-link"
routerLink="/setup">
🔧 Setup
</a>

</div>


<div class="ms-auto d-flex gap-2">

<a
routerLink="/login"
class="btn btn-outline-dark btn-sm"
(click)="closeMenu()">
Login
</a>

<a
routerLink="/register"
class="btn btn-dark btn-sm"
(click)="closeMenu()">
Register
</a>

</div>

</ng-template>

</div>
</div>
</nav>